<h2>Welcome Back Tester <%= @user.name%></h2>

<%#= list all the test cases that user created %>
<% if @user.test_cases %>
    <% @user.test_cases.each do |tc| %>
        <li><%= link_to "#{tc.title}", test_case_path(tc)%></li>
    <% end %>

<% end %>





<% if session[:user_id] %>
    <li> <%= link_to "Sign out", user_path, :method => :delete %></li>
<% end %>