<h2>Create new test step</h2>
<%#= form_for (@test_step, url: "/test_cases/#{@test_case_id}/test_steps", method: :post) do |f| %>
      <li>
        <%#= f.label :description %>
        <%#= f.text_field :description %>
      </li>
      <%#= f.submit %>
<%# end %>

<form action = "/test_steps", method = "post">
          <li>description</li>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="hidden" name="test_case_id" value="<%= @test_case_id %>">
          <input type="text" name="test_step[description]"/>
          <input type='submit', value="Create Test Step" />
</form>