<h2>Title: <%= @test_case.title%></h2>

<p>test step description</p>
<ul class = 'sortable'>
   <% @steps.each do |step| %>
      <li id="<%= step.sortable_id %>"><%= step.test_step.description %></li>
    <% end %>
  
 
</ul>
      

<%= link_to 'Create Test Step', new_test_step_path %>
<p>Show available test steps</p>